.Menu {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
    height: 100vh;
}

.Button {
    background-color: lightskyblue;
    padding: 14px 40px;
    border-radius: 8px;
    border: 1px solid black;

    text-decoration: black;
    font-size: 18px;

    cursor: pointer;
}

.Button:hover {
  background-color: deepskyblue;
}
