<!doctype html>
<html>
  <head>
    <title>Upload Image</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/seal_form.css') }}"
    />
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    "
  >
    <form action="/seal" method="post" enctype="multipart/form-data">
      <input
        type="text"
        name="image_name"
        placeholder="Enter image name"
        required
      />
      <input type="file" name="image" required />
      <button type="submit">Detect seal</button>
    </form>
  </body>
</html>
